@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inhert;
  background-color: green;
}

html {
  font-size: ;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: ;
  background-color: ;
}

header {
}

main {
}

section {
}

.btn begain {
}
